.imgContainer {

    width: 80px;
    height: 80px;
    margin: auto;
	text-align: center;
}

/* Resize image */
.imgContainer img {
    	width: 100%;
	margin: auto;
	text-align: center;
}

.imgContainerBlock {
	margin: auto;
	text-align: center;
}

.imgContainerBlock img {
       margin: auto;
	text-align: center;
}

.title {
	margin: auto;
	text-align: center;
}

/* CSS GRID for main page */
.parent {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(14, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border: 2px dotted;
}

.canvasFrame { 
	grid-area: 2 / 2 / 10 / 10;
	border: solid;
}
.colorPaletteFrame { 
	grid-area: 2 / 11 / 10 / 14;
	border: solid;
}

.blockInfo {
	display: flex;
}
